table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 15px;
    border: 1px solid #ddd;

  }
  .show{
    margin-top: 15%;
  }
  
  td a {
    text-decoration: none;
    background-color: #28d628;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 5px;
    margin: 5px 20px;

  }
  
  td a:hover {
    color: #000000;
  }
  
  form {
    display: inline;
  }
  
  input[type="submit"] {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #ee061e;
    color: #000000;
    cursor: pointer;
  }

  .ul { 
    list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #2e2e2e; } 
    .li { float: left; } 
    .li a { display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none; }
    .li a:hover { background-color: #111111; };

  ul{
    list-style: none;
  }
  form ul {
    list-style: none;
  }

  input[type="text"],
  input[type="number"] {
    width: 20%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; 
  }
  
  button {
    width: 10%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
body{
  background-image: linear-gradient(131deg, rgba(186, 186, 186, 0.01) 0%, 
  rgba(186, 186, 186, 0.01) 16.667%,
  rgba(192, 192, 192, 0.01) 16.667%,
  rgba(192, 192, 192, 0.01) 33.334%,
  rgba(48, 48, 48, 0.01) 33.334%, 
  rgba(48, 48, 48, 0.01) 50.001000000000005%,
  rgba(33, 33, 33, 0.01) 50.001%,
  rgba(33, 33, 33, 0.01) 66.668%,
  rgba(182, 182, 182, 0.01) 66.668%,
  rgba(182, 182, 182, 0.01) 83.33500000000001%,
  rgba(211, 211, 211, 0.01) 83.335%,
  rgba(211, 211, 211, 0.01) 100.002%),
  linear-gradient(148deg, rgba(48, 48, 48, 0.01) 0%, 
  rgba(48, 48, 48, 0.01) 16.667%,
  rgba(178, 178, 178, 0.01) 16.667%,
  rgba(178, 178, 178, 0.01) 33.334%,
  rgba(192, 192, 192, 0.01) 33.334%,
  rgba(192, 192, 192, 0.01) 50.001000000000005%,
  rgba(237, 237, 237, 0.01) 50.001%,
  rgba(237, 237, 237, 0.01) 66.668%,
  rgba(194, 194, 194, 0.01) 66.668%,
  rgba(194, 194, 194, 0.01) 83.33500000000001%,
  rgba(227, 227, 227, 0.01) 83.335%,
  rgba(227, 227, 227, 0.01) 100.002%),
  linear-gradient(138deg, rgba(146, 146, 146, 0.03) 0%, 
  rgba(146, 146, 146, 0.03) 25%,
  rgba(33, 33, 33, 0.03) 25%, 
  rgba(33, 33, 33, 0.03) 50%,rgba(46, 46, 46, 0.03) 50%, 
  rgba(46, 46, 46, 0.03) 75%,rgba(172, 172, 172, 0.03) 75%, 
  rgba(172, 172, 172, 0.03) 100%),
  linear-gradient(38deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 16.667%,
  rgba(28, 28, 28, 0.03) 16.667%, rgba(28, 28, 28, 0.03) 33.334%,
  rgba(236, 236, 236, 0.03) 33.334%, rgba(236, 236, 236, 0.03) 50.001000000000005%,
  rgba(3, 3, 3, 0.03) 50.001%, rgba(3, 3, 3, 0.03) 66.668%,rgba(207, 207, 207, 0.03) 66.668%, 
  rgba(207, 207, 207, 0.03) 83.33500000000001%,rgba(183, 183, 183, 0.03) 83.335%, 
  rgba(183, 183, 183, 0.03) 100.002%),
  linear-gradient(145deg, rgba(20, 20, 20, 0.02) 0%, rgba(20, 20, 20, 0.02) 20%,
  rgba(4, 4, 4, 0.02) 20%, rgba(4, 4, 4, 0.02) 40%,rgba(194, 194, 194, 0.02) 40%,
  rgba(194, 194, 194, 0.02) 60%,rgba(34, 34, 34, 0.02) 60%, rgba(34, 34, 34, 0.02) 80%,
  rgba(71, 71, 71, 0.02) 80%, rgba(71, 71, 71, 0.02) 100%),
  linear-gradient(78deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 20%,
  rgba(95, 95, 95, 0.02) 20%, rgba(95, 95, 95, 0.02) 40%,rgba(71, 71, 71, 0.02) 40%,
  rgba(71, 71, 71, 0.02) 60%,rgba(7, 7, 7, 0.02) 60%, rgba(7, 7, 7, 0.02) 80%,
  rgba(130, 130, 130, 0.02) 80%, rgba(130, 130, 130, 0.02) 100%),
  linear-gradient(293deg, rgba(213, 213, 213, 0.03) 0%, rgba(213, 213, 213, 0.03) 20%,
  rgba(220, 220, 220, 0.03) 20%, rgba(220, 220, 220, 0.03) 40%,rgba(146, 146, 146, 0.03) 40%, 
  rgba(146, 146, 146, 0.03) 60%,rgba(57, 57, 57, 0.03) 60%, rgba(57, 57, 57, 0.03) 80%,
  rgba(120, 120, 120, 0.03) 80%, rgba(120, 120, 120, 0.03) 100%),
  linear-gradient(90deg, rgba(156, 12, 175, 0.616),rgb(139, 186, 248));
} 
.err{
  color: red;
}

  



  